
<div class="sidebar">
  <div class="" style="background: white">
    <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}assets/logo-dark-blog.png" title="Lunchelot.de Blog" /></a>
  </div>
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <h2>
         {{ site.title }}
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>
<hr />
    <nav class="sidebar-nav">

      <a class="sidebar-nav-item{% if page.url == '/archiv/' %} active{% endif %}" href="{{ site.baseurl }}archiv">Alle Artikel</a>
      <a class="sidebar-nav-item{% if page.url == '/handbuch/' %} active{% endif %}" href="{{ site.baseurl }}handbuch/">Lunchelot - Wie funktioniert's?</a>
      <ul>
            <li><a class="sidebar-nav-item{% if page.url == '/handbuch/user/' %} active{% endif %}" href="{{ site.baseurl }}handbuch/user">User</a></li>
            <li><a class="sidebar-nav-item{% if page.url == '/handbuch/gastro/' %} active{% endif %}" href="{{ site.baseurl }}handbuch/gastro">Gastro</a></li>
          </ul>


      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.navigation != null %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}


    </nav>
<hr />
    <p>&copy; {{ site.time | date: '%Y' }}. <a href="https://lunchelot.de">lunchelot.de</a> <br />
      <small><a href="https://lunchelot.de/public/impressum">Impressum</a></small> | <small><a href="{{site.baseurl}}about">&Uuml;ber Lunchelot</a></small><br />

    </p>
    <p> </p>
    <p>
      Social:<br/>
      <a href="https://twitter.com/LunchelotDE" target="_blank">Twitter</a> | <a href="https://www.facebook.com/pages/Lunchelot/817285571685255" target="_blank">Facebook</a><br />
      <a href="{{site.baseurl}}atom.xml">RSS Feed</a></p>
  </div>
</div>
