---
layout: page
title: "Lunchelot Funktionen im Überblick"
description: "Mittagessen und Mittagstisch einfach gemacht für Angestellte und Gastronomie"
---
<p></p>
<ol class="index">
  <li><a href="{{site.baseurl}}handbuch/user">Funktionen für User</a></li>
  <li><a href="{{site.baseurl}}handbuch/gastro">Funktionen für Gastro</a></li>
</ol>

<hr />

<h2><a href="{{site.baseurl}}handbuch/gastro">Funktionen für User</a></h2>
<h3>Mittagstische finden Mittagessen vorbestellen und Gruppenbestellungen organisieren.</h3>
{% include handbuch_index_user.html %}

<hr />

<h2><a href="{{site.baseurl}}handbuch/gastro">Funktionen für Gastro</a></h2>
<h3>Lunchelot erfolgreich in der Gastronomie einsetzen. Benutzerhandbuch für Gastronomen.</a></h3>
{% include handbuch_index_gastro.html %}